* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background: #009d63;
	background: linear-gradient(to right, #009d63, #10e895);
}

.btn-login {
	font-size: 0.9rem;
	letter-spacing: 0.05rem;
	padding: 0.75rem 1rem;
	background-color: #10e895;
}